---
section: 'conference'
title: 'Conference'
meta_description: ''
meta_keywords: ''
---

<h1>Conference</h1>

<p>Overview of the conference should go here</p>

<h2>Video Archive</h2>

<ul>
  <%= content_tag :li, link_to('2013 Talks', 'http://www.youtube.com/watch?v=r7ufdRVEHyY&list=PL2CDtLMcqrFk_bWDwu5K6VmjtDc_AXZFD') %>
  <%= content_tag :li, link_to('2012 Talks', 'http://www.youtube.com/watch?v=I8p9jVFL0sQ&list=PL2CDtLMcqrFldU4dLHoNv0T2SPetq8WXo') %>
</ul>

<h2>Press</h2>

<ul>
  <li>
    <%= link_to "Queen City Merge entrepreneurs' answer to 'why can't we do that?'", 'http://news.cincinnati.com/article/20130508/NEWS10/305080098/' %>
    <br />
    Cincinnati Enquirer (May 8th, 2013)
  </li>
  <li>
    <%= link_to 'Queen City Merge happening May 9 &amp; 10', 'http://wvxu.org/post/queen-city-merge-happening-may-9-10' %>
    <br />
    WVXU Around Cincinnati (May 3rd, 2013)
  </li>
  <li>
    <%= link_to 'Queen City Merge eyes talent gap', 'http://news.cincinnati.com/article/20120427/BIZ/304270172&Ref=AR' %>
    <br />
    Cincinnati Enquirer (April 27th, 2012)
  </li>
  <li>
    <%= link_to 'Techies dine, drink, unite', 'http://enterchange.cincinnati.com/2012/04/27/techies-entrepreneurs-dine-drink-unite/' %>
    <br />
    Enterchange (April 27th, 2012)
  </li>
  <li>
    <%= link_to 'Etsy anthropologist headlines local web confab', 'http://www.soapboxmedia.com/innovationnews/0410queen-city-merge-web-dev.aspx' %>
    <br />
    Soapbox Cincinnati (April 10th, 2012)
  </li>
</ul>