---
section: 'training'
title: 'Training'
meta_description: ''
meta_keywords: ''
---

<h1>Training</h1>

<%= simple_format lorem.paragraphs(2) %>

<p><%= link_to 'Discuss on Github', 'https://github.com/qcmerge/training', class: 'btn btn-primary' %></p>

<hr />

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag lorem.image('360x200') %>
      <div class="caption">
        <h3>REVVED</h3>
        <p>REVVED is aa talent development program to sharpen skills of the region’s digital developers and creatives. In 2013, they partnered with Xavier to offer 5-10 week-night courses (twice a week) to teach the many needed skills of the Cincy creative class.</p>
        <p><%= link_to 'Learn More', 'http://revved.co', class: 'btn btn-primary' %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag lorem.image('360x200') %>
      <div class="caption">
        <h3>Girl Develop It!</h3>
        <p>Want to learn how to code? Have a great idea? Don't be shy. Develop it. GDI courses focus on coding, leveraging existing technology, and having something to show for it (aka building sweet websites).</p>
        <p><%= link_to 'Learn More', 'http://www.girldevelopit.com/chapters/cincinnati', class: 'btn btn-primary' %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag lorem.image('360x200') %>
      <div class="caption">
        <h3>QC Merge Rails Training</h3>
        <p>Ruby on Rails is the framework that redefined how web applications are developed and deployed. Rails’ "convention over configuration" design philosophy means that even novice developers can quickly create powerful web apps.</p>
        <p><%= link_to 'Learn More', '/training/rails', class: 'btn btn-primary' %></p>
      </div>
    </div>
  </div>
</div>