<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Queen City Merge</title>
  <meta name="description" content="">
  <meta name="author" content="Made in Cincy">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js" %>
  <%= javascript_include_tag "public" %>
  
  <script type="text/javascript" src="//use.typekit.net/gyn0xoh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body data-spy="scroll" data-target=".navbar" class="<%= page_classes %>">

  
  <header class="site-header">
    <section class="header-content">
      <hgroup>
        <h1>QC Merge</h1>
        <h2>Let us go forward <span>Together</span></h2>
      </hgroup>
      <div class="loc-time-date">
        <span class="building">
          Contemporary Arts Center
        </span>
        <span class="date">
          May 10 &amp; 11 2013
        </span>
        <span class="loc">
          Cincinnati Ohio
        </span>
      </div>
      <!-- /loc-time-date -->
    </section>
    <!-- /header-content -->
    
  </header>
  <!-- /site-header -->

  <nav id="nav" class="navbar">
    <div class="navbar-inner">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
       

      <a class="brand" href="#">QC Merge</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#about">About</a></li>
          <li><a href="#venue">Venue</a></li>
          <li><a href="#sponsors">Sponsors</a></li>
        </ul>
        <!-- /nav -->
      </div>
      <!-- /nav-collapse -->
    </div>
    <!-- /navbar-inner -->
  </nav>
  <!-- /navbar -->

  <div id="main-content" class="main-content">
    <%= yield %>
  </div>
  <!-- /main-content -->

  <footer class="site-footer">

    <section class="footer-content">
      <div class="more-qcmerge">
        <h3>Want More QCMerge?</h3>

        <p>Check out some of last year's talks on YouTube:</p>
        <ul class="unstyled video-list">

          <% video_ids = %w( Fh9ecOkoiOk
                             qmp7aTMnltw
                             qJJMYhV3BRs
                             92lAmKocO0E
                             ak5GDa7lEzA
                             lQvKJLLM8hM
                             dTc0Zc5aLQU
                             PptbmmEzscg
                             trbOW1TDOao
                             I8p9jVFL0sQ
                             H_Cw76S4nLw
          ) %>

          <% video_ids.each do |id| %>
          <li class="video-thumb">
            <%= link_to(image_tag("http://img.youtube.com/vi/#{id}/1.jpg", width: '50px', height: '50px'), "http://www.youtube.com/watch?v#{id}", target: '_blank') %>
          </li>
          <!-- /video-thumb -->
          <% end %>
        </ul>
        <!-- video-list -->
      </div>
      <!-- /more-qcmerge -->
      <div class="etc">
        <div class="social">
          <h3>Get to know us better</h3>
          <%= link_to '<i class="icon-twitter"></i>', 'http://twitter.com/qcmerge', class: 'twitter' %>
          <%= link_to '<i class="icon-facebook"></i>', 'http://facebook.com/qcmerge', class: 'facebook' %>

        </div>
        <hr />
        <div class="last-year">
          <h3>Looking for 2012's site?</h3>
          <p>It's right <%= link_to 'here', '/2012' %>.</p>
        </div>
      </div>
      <!-- /etc -->
      <div class="help-copy">
        <div class="help-out">
          <h3>Want to help out?</h3>
          <form class="help-form">
            <div class="input-append">
              <div id="mc_embed_signup">
                <form action="http://qcmerge.us4.list-manage1.com/subscribe/post?u=8c64d42f5af77dfcaa8d23c71&amp;id=2583a69c7d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL2" placeholder="email address" required />
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn subscribe-btn">
                </form>
              </div>
            </div>
          </form>
          <!-- /email-form -->
        </div>
        <!-- /help-out -->

        <hr />

        <div class="become-sponsor">
          <h3>Want to be a sponsor?</h3>
          <%= link_to 'Download the Sponsor Prospectus', 'QCMerge_Sponsor.pdf' %>
        </div>
        <hr />
        <div class="copyright">
          &copy; Copyright 2013 QCMerge
        </div>
        <!-- /copyright -->
      </div>
      <!-- /help-out -->
    </section>
    <!-- /footer-content -->

  </footer>
  <!-- /site-footer -->


  <script>
    var _gaq=[['_setAccount','UA-30041998-1'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
