<section class="section about" id="about">
  <div class="synopsis content-block light">
    <div class="block-copy">
      <h2>Queen City Merge</h2>
      <p>We pulled the smartest folks from all areas of the web: design, development, marketing and social media.</p>
      <p>If you were too busy checking out the awesome exhibits at the CAC, or wanted to be in two workshops at once, then you'll want to check out the archived talks of 2012's QCMerge below.</p>
    </div>
    <!-- /block-copy -->
  </div>
  <!-- /synopsis  -->

  <div class="email-reg content-block dark">
    <div class="block-copy">
      <h2>Keep me posted</h2>
      <form class="">
        <label>Sign up to know about any updates and when tickets go on sale for QCMerge 2013.</label>
        <div class="input-append">
          <div id="mc_embed_signup">
          <form action="http://qcmerge.us4.list-manage.com/subscribe/post?u=8c64d42f5af77dfcaa8d23c71&amp;id=2583a69c7d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Sign up for upcoming details about this conference</label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address" />
            </div>
            
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn subscribe-btn">
          </form>
        </div>
        <script type="text/javascript">
        var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
        try {
            var jqueryLoaded=jQuery;
            jqueryLoaded=true;
        } catch(err) {
            var jqueryLoaded=false;
        }
        var head= document.getElementsByTagName('head')[0];
        if (!jqueryLoaded) {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
            head.appendChild(script);
            if (script.readyState && script.onload!==null){
                script.onreadystatechange= function () {
                      if (this.readyState == 'complete') mce_preload_check();
                }    
            }
        }
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
        head.appendChild(script);
        var err_style = '';
        try{
            err_style = mc_custom_error_style;
        } catch(e){
            err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
        }
        var head= document.getElementsByTagName('head')[0];
        var style= document.createElement('style');
        style.type= 'text/css';
        if (style.styleSheet) {
          style.styleSheet.cssText = err_style;
        } else {
          style.appendChild(document.createTextNode(err_style));
        }
        head.appendChild(style);
        setTimeout('mce_preload_check();', 250);

        var mce_preload_checks = 0;
        function mce_preload_check(){
            if (mce_preload_checks>40) return;
            mce_preload_checks++;
            try {
                var jqueryLoaded=jQuery;
            } catch(err) {
                setTimeout('mce_preload_check();', 250);
                return;
            }
            try {
                var validatorLoaded=jQuery("#fake-form").validate({});
            } catch(err) {
                setTimeout('mce_preload_check();', 250);
                return;
            }
            mce_init_form();
        }
        function mce_init_form(){
            jQuery(document).ready( function($) {
              var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
              var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
              $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
              options = { url: 'http://qcmerge.us4.list-manage1.com/subscribe/post-json?u=8c64d42f5af77dfcaa8d23c71&id=2583a69c7d&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                            beforeSubmit: function(){
                                $('#mce_tmp_error_msg').remove();
                                $('.datefield','#mc_embed_signup').each(
                                    function(){
                                        var txt = 'filled';
                                        var fields = new Array();
                                        var i = 0;
                                        $(':text', this).each(
                                            function(){
                                                fields[i] = this;
                                                i++;
                                            });
                                        $(':hidden', this).each(
                                            function(){
                                                var bday = false;
                                                if (fields.length == 2){
                                                    bday = true;
                                                    fields[2] = {'value':1970};//trick birthdays into having years
                                                }
                                              if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                                this.value = '';
                              } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                                this.value = '';
                              } else {
                                  if (/\[day\]/.test(fields[0].name)){
                                                      this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;                         
                                  } else {
                                                      this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                                  }
                                              }
                                            });
                                    });
                                return mce_validator.form();
                            }, 
                            success: mce_success_cb
                        };
              $('#mc-embedded-subscribe-form').ajaxForm(options);
            });
        }
        function mce_success_cb(resp){
            $('#mce-success-response').hide();
            $('#mce-error-response').hide();
            if (resp.result=="success"){
                $('#mce-'+resp.result+'-response').show();
                $('#mce-'+resp.result+'-response').html(resp.msg);
                $('#mc-embedded-subscribe-form').each(function(){
                    this.reset();
              });
            } else {
                var index = -1;
                var msg;
                try {
                    var parts = resp.msg.split(' - ',2);
                    if (parts[1]==undefined){
                        msg = resp.msg;
                    } else {
                        i = parseInt(parts[0]);
                        if (i.toString() == parts[0]){
                            index = parts[0];
                            msg = parts[1];
                        } else {
                            index = -1;
                            msg = resp.msg;
                        }
                    }
                } catch(e){
                    index = -1;
                    msg = resp.msg;
                }
                try{
                    if (index== -1){
                        $('#mce-'+resp.result+'-response').show();
                        $('#mce-'+resp.result+'-response').html(msg);            
                    } else {
                        err_id = 'mce_tmp_error_msg';
                        html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                        
                        var input_id = '#mc_embed_signup';
                        var f = $(input_id);
                        if (ftypes[index]=='address'){
                            input_id = '#mce-'+fnames[index]+'-addr1';
                            f = $(input_id).parent().parent().get(0);
                        } else if (ftypes[index]=='date'){
                            input_id = '#mce-'+fnames[index]+'-month';
                            f = $(input_id).parent().parent().get(0);
                        } else {
                            input_id = '#mce-'+fnames[index];
                            f = $().parent(input_id).get(0);
                        }
                        if (f){
                            $(f).append(html);
                            $(input_id).focus();
                        } else {
                            $('#mce-'+resp.result+'-response').show();
                            $('#mce-'+resp.result+'-response').html(msg);
                        }
                    }
                } catch(e){
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);
                }
            }
        }

        </script>
        <!--End mc_embed_signup-->
        </div>
      </form>
      <!-- /email-form -->
    </div>
    <!-- /block-copy -->
  </div>
  <!-- /email-reg -->
</section>
<!-- /about -->

<hr />

<section class="section speakers" id="speakers">

  <div class="speaker light">
    <div class="speaker-photo jen">
      
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Jen<br /> Myers</h3>
      <h4>Web/Interface Designer</h4>
      <h5>Relevance</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

  <div class="speaker lightest">
    <div class="speaker-photo sarah">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Sarah Hatter</h3>
      <h4>Founder</h4>
      <h5>CoSupport</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

  <div class="speaker dark">
    <div class="speaker-photo rob">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Rob MacDonald</h3>
      <h4>Attorney</h4>
      <h5>Taft, Stettinius &amp; Hollister LLP</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->


  <div class="speaker light">
    <div class="speaker-photo lb">
      
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>LB<br /> Denker</h3>
      <h4>Anthropologist of Developer Culture</h4>
      <h5>Etsy</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

  <div class="speaker lightest">
    <div class="speaker-photo marty">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Marty Boyer</h3>
      <h4>Chief Product Officer</h4>
      <h5>Possible Worldwide</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

  <div class="speaker dark">
    <div class="speaker-photo ben">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Ben Curren</h3>
      <h4>CTO/Co-Founder</h4>
      <h5>Outright</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

   <div class="speaker light">
    <div class="speaker-photo sara">
      
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Sara Morgan</h3>
      <h4>Founder</h4>
      <h5>Tailored</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

  <div class="speaker lightest">
    <div class="speaker-photo alex">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Alex Hillman</h3>
      <h4>Founder</h4>
      <h5>IndyHall</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

</section>
<!-- /speakers -->

<hr />

<section class="section venue" id="venue">
  <div class="about-cac content-block light">
    <div class="block-copy">
      <h2>Contemporary Arts Center</h2>
      <p>One of the reasons we put QCM together was to showcase our favorite city, so of course we're hosting in an amazing venue downtown. The Contemporary Arts Center has awesome architecture, is full of great exhibits (did we mention that's included in your ticket?) and a crazy 45 staircase!</p>
      <p>We've booked the venue for Thursday and Friday, so we're working on a great event for Thursday night with some familiar faces from around the city. That's included, too.</p>
    </div>
    <!-- /block-copy -->
    <div class="block-image">
    </div>
    <!-- /block-image -->

  </div>
  <!-- /about-cac -->

  <div class="lodging content-block lightest">
    <div class="block-image">
      
    </div>
    <!-- /block-image -->
    <div class="block-copy">
      <h2>Where should I stay?</h2>
      <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin velit leo, interdum at rhoncus a, commodo eu velit. Suspendisse molestie, nulla non imperdiet posuere, diam lorem blandit arcu, ut tempus mi neque id mi.</p>
      <ul class="unstyled hotel-list">
        <li class="hotel">
          <div id="" class="vcard">
           <div class="org"><%= link_to '21c Museum Hotel', 'http://www.21cmuseumhotels.com/cincinnati/', target: '_blank' %></div>
           <div class="adr">
            <div class="street-address">609 Walnut St.</div>
            <span class="locality">Cincinnati</span>, <span class="region">OH</span> <span class="postal-code">45209</span>

           </div>
           <!-- /adr -->
           <div class="tel">513.578.6600</div>
          </div>
          <!-- /vcard -->
        </li>
        <!-- /hotel -->
      </ul>
      <!-- /hotel-list -->
    </div>
    <!-- /block-copy -->
  </div>
  <!-- /about-cac -->
</section>
<!-- /venue -->

<hr />

<section class="section schedule">

  <table class="table footable">
    <thead>
      <tr>
        <th class="time-head">
          Time
        </th>
        <th data-hide="phone,tablet">
          Track 1
        </th>
        <th data-hide="phone,tablet">
          Track 2
        </th>
      </tr>
    </thead>
    <tbody>
      <% 5.times do %>
      <tr>
        <td class="time">
          <time>9:00</time> <time>9:45 AM</time>
        </td>
        <td>
          <div class="talk">
            <div class="talk-photo">
              <%= image_tag 'http://placehold.it/55x55' %>
            </div>
            <div class="talk-text">
              <h3>Usability Testing</h3>
              <p>In imperdiet dictum arcu lacinia tempor. Aliquam erat volutpat. Proin ac odio non est varius feugiat. Curabitur dignissim tortor eu tortor pulvinar pellentesque.</p>
            </div>
            <!-- /talk-text -->
          </div>
          <!-- /talk -->
        </td>
        <td>
          <div class="talk">
            <div class="talk-photo">
              <%= image_tag 'http://placehold.it/55x55' %>
            </div>
            <div class="talk-text">
              <h3>Usability Testing</h3>
              <p>In imperdiet dictum arcu lacinia tempor. Aliquam erat volutpat. Proin ac odio non est varius feugiat. Curabitur dignissim tortor eu tortor pulvinar pellentesque.</p>
            </div>
            <!-- /talk-text -->
          </div>
          <!-- /talk -->
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <!-- /table -->
</section>
<!-- /schedule -->

<hr />

<section class="section sponsors" id="sponsors">
  <ul class="unstyled sponsor-list">
    
    <li class="sponsor">
      <%= link_to image_tag('sponsors/img-gaslight.png'), 'http://gaslight.co/', target: '_blank' %>
    </li>
    <!-- /sponsor -->
   <li class="sponsor">
    <%= link_to image_tag('sponsors/img-ample.png'), 'http://helloample.com/', target: '_blank' %>
   </li>
   <!-- /sponsor -->
  </ul>
  <!-- /sponsor-list -->
</section>
<!-- /sponsors -->

