<section class="section about" id="about">
  <div class="synopsis content-block light">
    <div class="block-copy">
      <h2>Queen City Merge</h2>
      <p>We pulled the smartest folks from all areas of the web: design, development, marketing and social media.</p>
      <p>If you were too busy checking out the awesome exhibits at the CAC, or wanted to be in two workshops at once, then you'll want to check out the archived talks of 2012's QCMerge below.</p>
    </div>
    <!-- /block-copy -->
  </div>
  <!-- /synopsis  -->

  <div class="email-reg content-block dark">
    <div class="block-copy">
      <h2>Keep me posted</h2>
      <form class="">
        <label>Sign up to know about any updates and when tickets go on sale for QCMerge 2013.</label>
        <div class="input-append">
          
          <input class="span2" id="" type="email" placeholder="name@domain.com" />
          <button class="btn" type="button">Submit</button>
        </div>
      </form>
      <!-- /email-form -->
    </div>
    <!-- /block-copy -->
  </div>
  <!-- /email-reg -->
</section>
<!-- /about -->

<hr />

<section class="section speakers" id="speakers">

  <div class="speaker light">
    <div class="speaker-photo jen">
      
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Jen<br /> Myers</h3>
      <h4>Web/Interface Designer</h4>
      <h5>Relevance</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

  <div class="speaker lightest">
    <div class="speaker-photo sarah">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Sarah Hatter</h3>
      <h4>Founder</h4>
      <h5>CoSupport</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

  <div class="speaker dark">
    <div class="speaker-photo rob">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Rob MacDonald</h3>
      <h4>Attorney</h4>
      <h5>Taft, Stettinius &amp; Hollister LLP</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->


  <div class="speaker light">
    <div class="speaker-photo lb">
      
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>LB<br /> Denker</h3>
      <h4>Anthropologist of Developer Culture</h4>
      <h5>Etsy</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

  <div class="speaker lightest">
    <div class="speaker-photo marty">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Marty Boyer</h3>
      <h4>Chief Product Officer</h4>
      <h5>Possible Worldwide</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

  <div class="speaker dark">
    <div class="speaker-photo ben">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Ben Curren</h3>
      <h4>CTO/Co-Founder</h4>
      <h5>Outright</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

   <div class="speaker light">
    <div class="speaker-photo sara">
      
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Sara Morgan</h3>
      <h4>Founder</h4>
      <h5>Tailored</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

  <div class="speaker lightest">
    <div class="speaker-photo alex">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Alex Hillman</h3>
      <h4>Founder</h4>
      <h5>IndyHall</h5>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

</section>
<!-- /speakers -->

<hr />

<section class="section venue" id="venue">
  <div class="about-cac content-block light">
    <div class="block-copy">
      <h2>Contemporary Arts Center</h2>
      <p>One of the reasons we put QCM together was to showcase our favorite city, so of course we're hosting in an amazing venue downtown. The Contemporary Arts Center has awesome architecture, is full of great exhibits (did we mention that's included in your ticket?) and a crazy 45 staircase!</p>
      <p>We've booked the venue for Thursday and Friday, so we're working on a great event for Thursday night with some familiar faces from around the city. That's included, too.</p>
    </div>
    <!-- /block-copy -->
    <div class="block-image">
    </div>
    <!-- /block-image -->

  </div>
  <!-- /about-cac -->

  <div class="lodging content-block lightest">
    <div class="block-image">
      
    </div>
    <!-- /block-image -->
    <div class="block-copy">
      <h2>Where should I stay?</h2>
      <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin velit leo, interdum at rhoncus a, commodo eu velit. Suspendisse molestie, nulla non imperdiet posuere, diam lorem blandit arcu, ut tempus mi neque id mi.</p>
      <ul class="unstyled hotel-list">
        <% 3.times do %>
        <li class="hotel">
          <div id="" class="vcard">
           <div class="org"><%= link_to 'The Best Hotel', '#' %></div>
           <div class="adr">
            <div class="street-address">123 Fake Street</div>
            <span class="locality">Cincinnati</span>, <span class="region">OH</span> <span class="postal-code">45209</span>

           </div>
           <!-- /adr -->
           <div class="tel">513-404-2114</div>
          </div>
          <!-- /vcard -->
        </li>
        <!-- /hotel -->
        <% end %>
      </ul>
      <!-- /hotel-list -->
    </div>
    <!-- /block-copy -->
  </div>
  <!-- /about-cac -->
</section>
<!-- /venue -->

<hr />

<section class="section schedule">

  <table class="table footable">
    <thead>
      <tr>
        <th class="time-head">
          Time
        </th>
        <th data-hide="phone,tablet">
          Track 1
        </th>
        <th data-hide="phone,tablet">
          Track 2
        </th>
      </tr>
    </thead>
    <tbody>
      <% 5.times do %>
      <tr>
        <td class="time">
          <time>9:00</time> <time>9:45 AM</time>
        </td>
        <td>
          <div class="talk">
            <div class="talk-photo">
              <%= image_tag 'http://placehold.it/55x55' %>
            </div>
            <div class="talk-text">
              <h3>Usability Testing</h3>
              <p>In imperdiet dictum arcu lacinia tempor. Aliquam erat volutpat. Proin ac odio non est varius feugiat. Curabitur dignissim tortor eu tortor pulvinar pellentesque.</p>
            </div>
            <!-- /talk-text -->
          </div>
          <!-- /talk -->
        </td>
        <td>
          <div class="talk">
            <div class="talk-photo">
              <%= image_tag 'http://placehold.it/55x55' %>
            </div>
            <div class="talk-text">
              <h3>Usability Testing</h3>
              <p>In imperdiet dictum arcu lacinia tempor. Aliquam erat volutpat. Proin ac odio non est varius feugiat. Curabitur dignissim tortor eu tortor pulvinar pellentesque.</p>
            </div>
            <!-- /talk-text -->
          </div>
          <!-- /talk -->
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <!-- /table -->
</section>
<!-- /schedule -->

<hr />

<section class="section sponsors" id="sponsors">
  <ul class="unstyled sponsor-list">
    
    <li class="sponsor">
      <%= link_to image_tag('sponsors/img-gaslight.png'), 'http://gaslight.co/', target: '_blank' %>
    </li>
    <!-- /sponsor -->
   <li class="sponsor">
    <%= link_to image_tag('sponsors/img-ample.png'), 'http://helloample.com/', target: '_blank' %>
   </li>
   <!-- /sponsor -->
  </ul>
  <!-- /sponsor-list -->
</section>
<!-- /sponsors -->

