<section class="section about" id="about">
  <div class="synopsis content-block light">
    <div class="block-copy">
      <h2>Queen City Merge</h2>
      <p>It's a two-day conference without cubicle divisions &mdash; where developers, marketers, designers and social media types share what they know. It all starts this May 9th & 10th, 2013.</p>
      <p>But it's not all work and no play, in fact it's closer to the complete opposite. New for 2013, QC Merge is combining forces with <%= link_to 'Ignite Cincinnati', 'http://ignitecincinnati.com/', target: "_blank" %> to present the ninth installment on Thursday night. Early Bird QC Merge attendees will receive a free Ignite Cincinnati pass. Standard price QC Merge attendees will have the option of bundling their Ignite Cincinnati pass with their QC Merge ticket.</p>
      <p>Then on Friday, everyone has VIP access to the Cincinnati Reds versus the Milwaukee Brewers at Great American Ballpark.</p>
      <p>Sign up, so we might band together for two days of thought-provoking discussion, delicious food and jolly good fun. Below you'll find the great minds who will be speaking, the beautiful places where we'll be staying and workshops we'll be attending. </p>
    </div>
    <!-- /block-copy -->
  </div>
  <!-- /synopsis  -->

  <div class="email-reg content-block dark">
    <div class="block-copy">
      <h2>Register Now</h2>
      <p>Sign-up today so you don’t miss out on the special early-bird rate.</p>
      <%= link_to 'Get Your Tickets Now', 'http://qcm13.eventbrite.com/', title: 'Get Your Tickets Now' %>
    </div>
    <!-- /block-copy -->
  </div>
  <!-- /email-reg -->
</section>
<!-- /about -->

<hr />

<section class="section speakers" id="speakers">

  <div class="speaker light">
    <div class="speaker-photo chris">

    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Chris Glass</h3>
      <h4>Designer</h4>
      <h5><%= link_to 'Wire &amp; Twine', 'http://wireandtwine.com/', target: '_blank' %></h5>
    </div>
    <!-- /speaker-name -->

    <!-- Modal -->
    <div id="chrisModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Chris Glass</h3>
      </div>
      <div class="modal-body">
        <p>
          Chris Glass is a tall fellow from Southwestern Ohio. Growing up, his family had a big garden, raised cattle, ate fresh eggs, and had ducks and peacocks for giggles.
        </p>
        <p>Since he didn’t have neighbors, he found other ways to entertain himself when not pestering his good-hearted family. He earned a design degree from Ohio State University and currently spends his days at a rural studio in Oxford, Ohio where he makes things with friends to sell on Wire & Twine or projects for others. He spends his nights at home in Cincinnati.</p>
        <hr />
        <div class="connect-speaker">
          <h4>Connect with Chris</h4>
          <ul class="unstlyed">
            <%= content_tag :li, link_to('<i class="icon-github-alt"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-twitter"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-linkedin"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-google-plus-sign"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-facebook"></i>', '#') %>
          </ul>
        </div>
        <!-- /connect-speaker -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <!-- /chris-modal -->
  </div>
  <!-- /speaker -->

  <div class="speaker lightest">
    <div class="speaker-photo sara">

    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Sara Chipps</h3>
      <h4>Developer</h4>
      <h5><%= link_to 'Girl Develop It', 'http://girldevelopit.com/', target: '_blank' %></h5>
    </div>
    <!-- /speaker-name -->

    <!-- Modal -->
    <div id="saraModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Sara Chipps</h3>
      </div>
      <div class="modal-body">
        <p>
          Sara Chipps is a JavaScript Developer who works with early stage startups and cofounder of Girl Develop It, which is an organization that teaches low cost software development classes geared towards women.</p>
        <p>Girl Develop It has taught almost 2000 students and is in 8 cities worldwide.</p>
        <hr />
        <div class="connect-speaker">
          <h4>Connect with Sara</h4>
          <ul class="unstlyed">
            <%= content_tag :li, link_to('<i class="icon-github-alt"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-twitter"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-linkedin"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-google-plus-sign"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-facebook"></i>', '#') %>
          </ul>
        </div>
        <!-- /connect-speaker -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <!-- /sara-modal -->
  </div>
  <!-- /speaker -->


  <div class="speaker dark">
    <div class="speaker-photo jessica">

    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Jessica Ivins</h3>
      <h4>UX Designer &amp; Researcher</h4>
      <h5><%= link_to 'Aweber', 'http://www.aweber.com/', target: '_blank' %></h5>
    </div>
    <!-- /speaker-name -->

    <!-- Modal -->
    <div id="jessicaModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Jessica Ivins</h3>
      </div>
      <div class="modal-body">
        <p>
          Jessica is a user experience (UX) designer and researcher in Philadelphia, PA. She is currently a full time UX specialist at AWeber, and previously worked at Happy Cog.
        </p>
        <p>
          She worked on a diverse range of websites across many verticals, including higher education, large and small non-profits, and Fortune 100 companies.
        </p>
        <hr />
        <div class="connect-speaker">
          <h4>Connect with Jessica</h4>
          <ul class="unstlyed">
            <%= content_tag :li, link_to('<i class="icon-github-alt"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-twitter"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-linkedin"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-google-plus-sign"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-facebook"></i>', '#') %>
          </ul>
        </div>
        <!-- /connect-speaker -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <!-- /jessica-modal -->
  </div>
  <!-- /speaker -->

  <div class="speaker light">
    <div class="speaker-photo elmer">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Elmer Thomas</h3>
      <h4>Developer Evangelist</h4>
      <h5><%= link_to 'SendGrid', 'http://sendgrid.com/', target: '_blank' %></h5>
    </div>
    <!-- /speaker-name -->
    <!-- Modal -->
    <div id="elmerModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Elmer Thomas</h3>
      </div>
      <div class="modal-body">
        <p>
          Elmer Thomas is a Developer Evangelist at SendGrid. He works with developers at hackdays and conferences to further simplify the process of integrating with SendGrid's APIs and to discover what new email challenges need to be conquered. When not on the road, he works on making life for developers using SendGrid frictionless.
        </p>
        <hr />
        <div class="connect-speaker">
          <h4>Connect with Elmer</h4>
          <ul class="unstlyed">
            <%= content_tag :li, link_to('<i class="icon-github-alt"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-twitter"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-linkedin"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-google-plus-sign"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-facebook"></i>', '#') %>
          </ul>
        </div>
        <!-- /connect-speaker -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <!-- /elmer-modal -->
  </div>
  <!-- /speaker -->

  <div class="speaker lightest">
    <div class="speaker-photo doug">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Doug Alcorn</h3>
      <h4>Co-Founder at Gaslight</h4>
      <h5><%= link_to 'Gaslight', 'http://gaslight.co', target: '_blank' %></h5>
    </div>
    <!-- /speaker-name -->
    <!-- Modal -->
    <div id="dougModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Doug Alcorn</h3>
      </div>
      <div class="modal-body">
        <p>

        </p>
        <p>
          
        </p>
        <hr />
        <div class="connect-speaker">
          <h4>Connect with Doug</h4>
          <ul class="unstlyed">
            <%= content_tag :li, link_to('<i class="icon-github-alt"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-twitter"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-linkedin"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-google-plus-sign"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-facebook"></i>', '#') %>
          </ul>
        </div>
        <!-- /connect-speaker -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <!-- /doug-modal -->
  </div>
  <!-- /speaker -->


  <div class="speaker dark">
    <div class="speaker-photo tim">

    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Tim <br />Falls</h3>
      <h4>Community Guy</h4>
      <h5><%= link_to 'SendGrid', 'http://sendgrid.com/', target: '_blank' %></h5>
    </div>
    <!-- /speaker-name -->
    <!-- Modal -->
    <div id="timModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Tim Falls</h3>
      </div>
      <div class="modal-body">
        <p>
          
        </p>
        <p>
          
        </p>
        <hr />
        <div class="connect-speaker">
          <h4>Connect with Tim</h4>
          <ul class="unstlyed">
            <%= content_tag :li, link_to('<i class="icon-github-alt"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-twitter"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-linkedin"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-google-plus-sign"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-facebook"></i>', '#') %>
          </ul>
        </div>
        <!-- /connect-speaker -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <!-- /tim-modal -->
  </div>
  <!-- /speaker -->

  <div class="speaker light">
    <div class="speaker-photo greg">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>Greg Hardman</h3>
      <h4>CEO Christian Moerlein</h4>
      <h5><%= link_to 'Christian Moerlein', 'http://www.christianmoerlein.com/', target: '_blank' %></h5>
    </div>
    <!-- /speaker-name -->
    <!-- Modal -->
    <div id="gregModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Greg Hardman</h3>
      </div>
      <div class="modal-body">
        <p>
          
        </p>
        <p>
          
        </p>
        <hr />
        <div class="connect-speaker">
          <h4>Connect with Tim</h4>
          <ul class="unstlyed">
            <%= content_tag :li, link_to('<i class="icon-github-alt"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-twitter"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-linkedin"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-google-plus-sign"></i>', '#') %>
            <%= content_tag :li, link_to('<i class="icon-facebook"></i>', '#') %>
          </ul>
        </div>
        <!-- /connect-speaker -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
    <!-- /greg-modal -->
  </div>
  <!-- /speaker -->

  <div class="speaker lightest">
    <div class="speaker-photo question">
    </div>
    <!-- /speaker-photo -->
    <div class="speaker-name">
      <h3>More Soon</h3>
      <h4>Check back for more speakers to be announced soon</h4>
    </div>
    <!-- /speaker-name -->
    <div class="speaker-bio">

    </div>
    <!-- /speaker-bio -->
  </div>
  <!-- /speaker -->

</section>
<!-- /speakers -->

<hr />

<section class="section venue" id="venue">
  <div class="about-cac content-block light">
    <div class="block-copy">
      <h2>Contemporary Arts Center</h2>
      <p>A revolution is here. Cincinnati is a staging ground for great design and online innovation. Something you'll notice from our venue alone. The Contemporary Arts Center is a pioneering museum that focuses on new developments in painting, sculpture, photography, architecture, performance art and new media.</p>
      <p>Basically, you will be surrounded by stunning architecture and some incredibly inspiring displays of talent. Plus, access is included in your ticket. So enjoy.</p>
    </div>
    <!-- /block-copy -->
    <div class="block-image">
    </div>
    <!-- /block-image -->

  </div>
  <!-- /about-cac -->

  <div class="lodging content-block lightest">
    <div class="block-image">

    </div>
    <!-- /block-image -->
    <div class="block-copy">
      <h2>Where should I stay?</h2>
      <p>The 21C Museum Hotel is in the center of downtown Cincinnati action — adjacent to the Contemporary Arts Center and across the street from the Aronoff Center for the Arts. It's a 156-room boutique hotel, contemporary art museum and cultural civic center. And they're offering a great rate for QCMerge attendees.</p>
      <ul class="unstyled hotel-list">
        <li class="hotel">
          <div class="vcard">
           <div class="org"><%= link_to '21c Museum Hotel', 'http://www.21cmuseumhotels.com/cincinnati/', target: '_blank' %></div>
           <div class="adr">
            <div class="street-address">609 Walnut St.</div>
            <span class="locality">Cincinnati</span>, <span class="region">OH</span> <span class="postal-code">45209</span>

           </div>
           <!-- /adr -->
           <div class="tel">513.578.6600</div>
          </div>
          <!-- /vcard -->
        </li>
        <!-- /hotel -->
      </ul>
      <!-- /hotel-list -->
    </div>
    <!-- /block-copy -->
  </div>
  <!-- /about-cac -->
</section>
<!-- /venue -->

<hr />

<section class="section sponsors" id="sponsors">
  <ul class="unstyled sponsor-row">

    <li class="sponsor">
      <%= link_to image_tag('sponsors/img-gaslight.png', alt: 'Gaslight'), 'http://gaslight.co/', target: '_blank' %>
    </li>
    <!-- /sponsor -->
   <li class="sponsor">
    <%= link_to image_tag('sponsors/img-ample.png', alt: 'Ample'), 'http://helloample.com/', target: '_blank' %>
   </li>
   <!-- /sponsor -->
   <li class="sponsor send-grid">
    <%= link_to image_tag('sponsors/img-sendgrid.png', alt: 'SendGrid'), 'http://www.sendgrid.com/', target: '_blank' %>
   </li>
   <!-- /sponsor -->
   <li class="sponsor last">
    <%= link_to image_tag('sponsors/img-moerlein.png', alt: 'Christian Moerlein'), 'http://www.christianmoerlein.com/', target: '_blank' %>
   </li>
   <!-- /sponsor -->
 </ul>
 <ul class="unstyled sponsor-row">
   <li class="sponsor">
    <%= link_to image_tag('sponsors/img-github.png', alt: 'GitHub'), 'https://github.com/', target: '_blank' %>
   </li>
   <!-- /sponsor -->
   <li class="sponsor">
    <%= link_to image_tag('sponsors/img-outright.png', alt: 'Outright'), 'http://outright.com/', target: '_blank' %>
   </li>
   <!-- /sponsor -->
   <li class="sponsor">
    <%= link_to image_tag('sponsors/img-gigit.png', alt: 'Gigit Jobs'), 'http://www.gigitjobs.com/', target: '_blank' %>
   </li>
   <!-- /sponsor -->
   <li class="sponsor last">
    <%= link_to image_tag('sponsors/img-neo.png', alt: 'Neo'), 'http://www.neo.com/', target: '_blank' %>
   </li>
   <!-- /sponsor -->
 </ul>
 <ul class="sponsor-row">
  <li class="sponsor follower">
   <%= link_to image_tag('sponsors/img-follower.png', alt: 'Follower.io'), 'http://follower.io/', target: '_blank' %>
  </li>
  <!-- /sponsor -->
  <li class="sponsor">
   <%= link_to image_tag('sponsors/img-gdi.png', alt: 'Girl Develop It'), 'http://girldevelopit.com/', target: '_blank' %>
  </li>
  <!-- /sponsor -->
  <li class="sponsor">
   <%= link_to image_tag('sponsors/img-mfi.png', alt: 'Midland Film Institute'), 'http://www.midlandfilm.org/', target: '_blank' %>
  </li>
  <!-- /sponsor -->
 </ul>
</section>
<!-- /sponsors -->

